<!-- start custom head snippets -->

<!-- Language Switcher Styles and Scripts -->
<link rel="stylesheet" href="{{ '/assets/css/language-switcher.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/hashtag-badges.css' | relative_url }}">
<script src="{{ '/assets/js/lang/translations.js' | relative_url }}"></script>

<!-- insert favicons. use http://realfavicongenerator.net/ -->

<!-- end custom head snippets -->

<!-- Favicon -->
<link rel="icon" type="image/png" href="/favicon/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg" />
<link rel="shortcut icon" href="/favicon/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
<link rel="manifest" href="/favicon/site.webmanifest" />